@font-face {
  font-family: Anthares;
  src: url(/src/assets/fonts/Anthares.ttf);
}

@font-face {
  font-family: Anaheim-Regular;
  src: url(/src/assets/fonts/Anaheim-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.cu--topic-gradiant {
  background: linear-gradient(270deg, #ff005c 23.14%, #3300ff 100%), #d9d9d9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cu--about-img-shadow {
  filter: drop-shadow(-14px 0px 20px rgba(0, 0, 0, 0.32));
}

.cu-font---anaheim-Regular {
  font-family: Anaheim-Regular;
}

.cu--audio-box-shadow {
  box-shadow: 0px 0px 26px 11px rgba(0, 0, 0, 0.23);
}

.cu--newReleased-button-shadow {
  filter: drop-shadow(0 0 0.2rem rgb(228, 195, 201));
}

input[type=range] {
	height: 5px;
	-webkit-appearance: none;
	width: 100%;
	margin-bottom: 10px;
	border-radius: 8px;
	background: #3b7677;
	transition: background 0.2s ease;
	cursor: pointer;
}