@font-face {
  font-family: Anthares;
  src: url(/src/assets/fonts/Anthares.ttf);
}

@font-face {
  font-family: Anaheim-Regular;
  src: url(/src/assets/fonts/Anaheim-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.cu--topic-gradiant {
  background: linear-gradient(270deg, #ff005c 23.14%, #3300ff 100%), #d9d9d9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.cu--about-img-shadow {
  filter: drop-shadow(-14px 0px 20px rgba(0, 0, 0, 0.32));
}

.cu-font---anaheim-Regular {
  font-family: Anaheim-Regular;
}

.cu--audio-box {
  box-shadow: 0px 0px 26px 11px rgba(0, 0, 0, 0.23);
  background-position: center center;
  background-size: cover;
}

.cu--newReleased-button-shadow {
  filter: drop-shadow(0 0 0.2rem #e4c3c9);
}

.cu--grid-newReleased {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 2px;
}

#audioPlayer {
  height: 2px;
  -webkit-appearance: none;
  width: 100%;
  border-radius: 3px;
  background: #ebd8db;
  transition: background 0.2s ease;
  cursor: pointer;
}
#audioPlayer::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #dbd1d3;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

#audioPlayer::-moz-slider-thumb {
  -webkit-appearance: none;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: #dbd1d3;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

#audioPlayer::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: 0px 0px 6px 1px rgba(245, 235, 235, 0.23);
  border: none;
  background: transparent;
  filter: drop-shadow(0 0 0.2rem #e4c3c9);
}

.cu--musiclist-thubnail {
  background-position: center center;
  background-size: cover;
}

.cu--vedioPlayer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  place-items: center;
}

.cu--vedioPlayer-bar {
  grid-area: 1 / 1 / 2 / 2;
}
.cu--vedioPlayer-element {
  grid-area: 1 / 1 / 2 / 2;
}

.cu--vedioPlayer-button {
  grid-area: 1 / 1 / 2 / 2;
}

#vedioPlayer {
  height: 3px;
  -webkit-appearance: none;
  width: 78%;
  margin-bottom: 1vh;
  border-radius: 3px;
  background: #ebd8db;
  transition: background 0.2s ease;
  cursor: pointer;
}

#vedioPlayer::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #a77b83;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background 0.3s ease-in-out;
}

#vedioPlayer::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  box-shadow: 0px 0px 6px 1px rgba(245, 235, 235, 0.23);
  border: none;
  background: transparent;
  filter: drop-shadow(0 0 0.2rem #e4c3c9);
}
